schema/TEI_asselin.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>

        <ref name="TEI"/>
    </start>

    <define name="TEI">
        <element name="TEI">
            <oneOrMore>
                <ref name="teiHeader"/>
                <ref name="text"/>
            </oneOrMore>
        </element>
    </define>
    <define name="teiHeader">
        <oneOrMore>
            <ref name="fileDesc"/>
        </oneOrMore>
    </define>


    <define name="text">
        <element name="text">
            <oneOrMore>
                <ref name="group"/>
                <ref name="back"/>
                <ref name="front"/>
                <ref name="body"></ref>
            </oneOrMore>
        </element>
    </define>

    <define name="fileDesc">
        <element name="fileDesc">
            <oneOrMore>
            <ref name="titleStmt"/>
            <ref name="publicationStmt"/>
            <ref name="sourceDesc"/>
        </oneOrMore></element>
    </define>

    <define name="group">
        <element name="group">
            <oneOrMore>
                <ref name="text"/>
            </oneOrMore>
        </element>

    </define>
    <define name="back">
        <element name="back">
            <oneOrMore>
                <ref name="div"/>
            </oneOrMore>
        </element>
    </define>

    <define name="titleStmt">
        <element name="titleStmt">
            <oneOrMore>
                <ref name="title"></ref>
                <ref name="respStmt"></ref>
            </oneOrMore>
        </element>
    </define>

    <define name="publicationStmt">
        <element name="publicationStmt">
            <oneOrMore>
                <ref name="publisher"/>
                <ref name="date"></ref>
            </oneOrMore>
        </element>
    </define>

    <define name="sourceDesc">
        <element name="sourceDesc">
            <oneOrMore>
                <ref name="msDesc"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="title">
        <element name="title">
            <zeroOrMore>
                <text></text>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="respStmt">
        <element name="respStmt">
            <oneOrMore>
                <ref name="resp"></ref>
                <ref name="name"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="resp">
        <element name="resp">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>       
    </define>
    
    <define name="name">
        <element name="name">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>       
    </define>
    
    <define name="publisher">
        <element name="publisher">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>
    </define>
    
    <define name="date">
        <element name="date">
            <oneOrMore>
           <text></text> <!-- Si on peut, il faudrait typer -->
        </oneOrMore>
        </element>
    </define>
    
    <define name="msDesc">
        <element name="msDesc">
            <oneOrMore>
                <ref name="msIdentifier"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="msIdentifier">
        <element name="msIdentifier">
            <ref name="settlement"></ref>
            <ref name="repository"></ref>
            <ref name="idno"></ref>           
        </element>
    </define>
    
    <define name="settlement">
        <element name="settlement">
            <oneOrMore>
                <text/>
            </oneOrMore>          
        </element>
    </define>
    
    <define name="repository">
        <element name="repository">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="idno">
        <element name="idno">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>
    </define>
    
    <define name="front">
        <element name="front">
            <oneOrMore>
                <ref name="docTitle"></ref>
            <ref name="docDate"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="docTitle">
        <element name="docTitle">
            <oneOrMore>
                <ref name="titlePart"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="docDate">
        <element name="docDate">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>
    </define>
    
    <define name="titlePart">
        <element name="titlePart">
            <oneOrMore>
                <text></text>
            </oneOrMore>
        </element>
    </define>
    
    <define name="body">
        <element name="body">
            <oneOrMore>
                <ref name="div"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="div">
        <element name="div">
            <oneOrMore>
                <text/>
                <ref name="p"></ref>
                <ref name="opener"></ref>
                <ref name="closer"></ref>
                <ref name="head"></ref>
                <ref name="space"></ref> <!-- pas forcément utile -->
            </oneOrMore>
        </element>
    </define>
    
    <define name="p">
        <element name="p">
            <zeroOrMore>
                <text></text>
                <ref name="hi"></ref>
                <ref name="del"></ref>
                <ref name="add"></ref>
                <ref name="pb"></ref>
                <ref name="choice"></ref>
                <ref name="figure"></ref>
            </zeroOrMore>          
        </element>
    </define>
    
    <define name="opener">
        <element name="opener">
            <text></text>
            <zeroOrMore>
                <ref name="date"></ref>
                <ref name="salute"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="closer">
        <element name="closer">
            <text></text>
            <zeroOrMore>
                <ref name="date"></ref>
                <ref name="salute"></ref>
                <ref name="signed"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="head">
        <element name="head">
            <oneOrMore>
                <ref name="listPerson"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="space">
        <element name="space">
            <zeroOrMore>
                <text></text>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="hi">
        <element name="hi">
            <text></text>
        </element>
    </define>
    
    <define name="del">
        <element name="del">
            <text></text>
        </element>
    </define>
    
    <define name="add">
        <element name="add">
            <text></text>
        </element>
    </define>
    
    <define name="pb">
        <element name="pb">
            <zeroOrMore>
                <text></text>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="choice">
        <element name="choice">
            <ref name="sic"></ref>
            <ref name="corr"></ref>
        </element>
    </define>
    
    <define name="figure">
        <element name="figure">
            <oneOrMore>
                <ref name="desc"></ref>
            </oneOrMore>
        </element>
    </define>
    
    <define name="salute">
        <element name="salute">
           <text/>
        </element>
    </define>
    
    <define name="signed">
        <element name="signed">
            <zeroOrMore>
                <ref name="persName"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="listPerson">
        <element name="listPerson">
            <zeroOrMore>
                <ref name="person"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="sic">
        <element name="sic">
           <text></text>
        </element>
    </define>
    
    <define name="corr">
        <element name="corr">
            <text></text>
        </element>
    </define>
    
    <define name="desc">
        <element name="desc">
            <text></text>
        </element>
    </define>
    
    <define name="persName">
        <element name="persName">
            <text></text>
            <zeroOrMore>
                <ref name="hi"></ref>
                <ref name="surname"></ref>
                <ref name="firstname"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="person">
        <element name="person">
            <oneOrMore>
                <ref name="persName"></ref>
            </oneOrMore>
            <zeroOrMore>
                <ref name="birth"></ref>
                <ref name="death"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="birth">
        <element name="birth">
            <text></text> 
            <zeroOrMore>
                <ref name="date"></ref>
                <ref name="placeName"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="death">
        <element name="death">
            <text></text> 
            <zeroOrMore>
                <ref name="date"></ref>
                <ref name="placeName"></ref>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="surname">
        <element name="surname">
            <text></text>            
        </element>
    </define>
    
    <define name="firstname">
        <element name="firstname">
            <text></text>            
        </element>
    </define>
    
    <define name="placename">
        <element name="placename">
            <text></text>            
        </element>
    </define>
</grammar>
