data/correspondance.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns:ns="http://www.tei-c.org/ns/1.0">

    <start>
        <ref name="TEI"/>
    </start>

    <define name="TEI">
        <element name="TEI">
            <oneOrMore>
                <ref name="teiHeader"/>
            </oneOrMore>
            <oneOrMore>
                <ref name="text"/>
            </oneOrMore>
        </element>
    </define>

    <define name="teiHeader">
        <element name="teiHeader">
            <oneOrMore>
                <ref name="fileDesc"/>
                <ref name="profileDesc"/>
                <ref name="encodingDesc"/>
            </oneOrMore>
        </element>
    </define>


    <define name="text">
        <element name="text">
            <optional>
                <attribute name="xml:id">
                    <text/>
                </attribute>
            </optional>
            <oneOrMore>
                <ref name="body"/>
            </oneOrMore>
        </element>
    </define>

    <define name="fileDesc">
        <element name="fileDesc">
            <oneOrMore>
                <ref name="titleStmt"/>
                <ref name="publicationStmt"/>
                <ref name="sourceDesc"/>
            </oneOrMore>
        </element>
    </define>


    <define name="titleStmt">
        <element name="titleStmt">
            <oneOrMore>
                <ref name="title"/>
                <ref name="respStmt"/>
            </oneOrMore>
        </element>
    </define>

    <define name="publicationStmt">
        <element name="publicationStmt">
            <oneOrMore>
                <ref name="publisher"/>
                <ref name="date"/>
            </oneOrMore>
        </element>
    </define>

    <define name="sourceDesc">
        <element name="sourceDesc">
            <oneOrMore>
                <ref name="msDesc"/>
            </oneOrMore>
        </element>
    </define>

    <define name="title">
        <element name="title">
            <zeroOrMore>
                <text/>
            </zeroOrMore>
        </element>
    </define>

    <define name="respStmt">
        <element name="respStmt">
            <oneOrMore>
                <ref name="resp"/>
                <ref name="name"/>
                <ref name="name"/>
                <ref name="name"/>
                <ref name="name"/>
            </oneOrMore>
        </element>
    </define>

    <define name="resp">
        <element name="resp">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="name">
        <element name="name">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="publisher">
        <element name="publisher">
            <oneOrMore>
                <ref name="name"/>
                <ref name="address"/>
            </oneOrMore>
        </element>
    </define>

    <define name="address">
        <element name="address">
            <oneOrMore>
                <ref name="street"/>
                <ref name="postCode"/>
                <ref name="settlement"/>
            </oneOrMore>
        </element>
    </define>

    <define name="date">
        <element name="date">
            <optional>
                <attribute name="when">
                    <data type="date"/>
                </attribute>
            </optional>
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="msDesc">
        <element name="msDesc">
            <oneOrMore>
                <ref name="msIdentifier"/>
            </oneOrMore>
        </element>
    </define>

    <define name="profileDesc">
        <element name="profileDesc">
            <oneOrMore>
                <ref name="correspDesc"/>
            </oneOrMore>
        </element>
    </define>


    <define name="correspDesc">
        <element name="correspDesc">

            <oneOrMore>
                <ref name="correspAction"/>
            </oneOrMore>
            <optional>
                <ref name="correspContext"/>
            </optional>
        </element>
    </define>

    <define name="msIdentifier">
        <element name="msIdentifier">
            <ref name="settlement"/>
            <ref name="repository"/>
            <ref name="idno"/>
        </element>
    </define>

    <define name="street">
        <element name="street">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="postCode">
        <element name="postCode">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="settlement">
        <element name="settlement">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="repository">
        <element name="repository">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="idno">
        <element name="idno">
            <oneOrMore>
                <text/>
            </oneOrMore>
        </element>
    </define>

    <define name="correspAction">
        <element name="correspAction">
            <optional>
                <attribute name="type">
                    <choice>
                        <value>sent</value>
                        <value>received</value>
                    </choice>
                </attribute>
            </optional>
            <oneOrMore>
                <optional>
                    <ref name="persName"/>
                </optional>
                <optional>
                    <ref name="placeName"/>
                </optional>
                <optional>
                    <ref name="date"/>
                </optional>
            </oneOrMore>
        </element>
    </define>

    <define name="correspContext">
        <element name="correspContext">
            <optional>
                <ref name="persName"/>
            </optional>
            <optional>
                <ref name="date"/>
            </optional>
        </element>
    </define>

    <define name="body">
        <element name="body">
            <oneOrMore>
                <ref name="div"/>
            </oneOrMore>
        </element>
    </define>

    <define name="div">
        <element name="div">
            <optional>
                <attribute name="type">
                    <choice>
                        <value>letter</value>
                        <value>note</value>
                        <value>indexNominum</value>
                    </choice>
                </attribute>
            </optional>
            <oneOrMore>
                <text/>
                <optional>
                    <ref name="p"/>
                </optional>
                <optional>
                    <ref name="opener"/>
                </optional>
                <optional>
                    <ref name="closer"/>
                </optional>
                <optional>
                    <ref name="head"/>
                </optional>
                <optional>
                    <ref name="space"/>
                </optional>
                <optional>
                    <ref name="salute"/>
                </optional>
                <!-- pas forcément utile -->
                <optional>
                    <ref name="postscript"/>
                </optional>
            </oneOrMore>
        </element>
    </define>

    <define name="p">
        <element name="p">

            <oneOrMore>
                <optional>
                    <text/>
                </optional>
            </oneOrMore>
            <zeroOrMore>
                <optional>
                    <ref name="unclear"/>
                </optional>
                <optional>
                    <ref name="damage"/>
                </optional>
                <optional>
                    <ref name="add"/>
                </optional>
                <optional>
                    <text/>
                </optional>
                <optional>
                    <ref name="hi"/>
                </optional>
                <optional>
                    <text/>
                </optional>
                <optional>
                    <ref name="pb"/>
                </optional>
                <optional>
                    <text/>
                </optional>
                <optional>
                    <ref name="choice"/>
                </optional>
                <optional>
                    <text/>
                </optional>
                <optional>
                    <ref name="figure"/>
                </optional>
                <optional>
                    <text/>
                </optional>

                <optional>
                    <ref name="del"/>
                </optional>
            </zeroOrMore>

        </element>
    </define>
    
    <define name="postscript">
        <element name="postscript">
            <zeroOrMore>
                <ref name="label"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="p"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="label">
        <element name="label">
            <zeroOrMore>
                <text/>
            </zeroOrMore>
        </element>
    </define>

    <define name="damage">
        <element name="damage">
            <zeroOrMore>
                <attribute name="type">
                    <text/>
                </attribute>
            </zeroOrMore>
            <zeroOrMore>
                <text/>
            </zeroOrMore>
        </element>
    </define>

    <define name="unclear">
        <element name="unclear">
            <zeroOrMore>
                <attribute name="reason">
                    <text/>
                </attribute>
            </zeroOrMore>
            <zeroOrMore>
                <text/>
            </zeroOrMore>
            <zeroOrMore>
                <empty/>
            </zeroOrMore>
        </element>
    </define>

    <define name="opener">
        <element name="opener">
            <optional>
                <attribute name="rend"> </attribute>
            </optional>
            <zeroOrMore>
                <optional>
                    <ref name="date"/>
                </optional>
                <optional>
                    <text/>
                </optional>
            </zeroOrMore>
        </element>
    </define>

    <define name="closer">

        <element name="closer">
            <text/>
            <zeroOrMore>
                <optional>
                    <ref name="date"/>
                </optional>
                <optional>
                    <ref name="salute"/>
                </optional>
                <optional>
                    <ref name="signed"/>
                </optional>
                <optional>
                    <ref name="placeName"/>
                </optional>
            </zeroOrMore>
            <optional>
                <attribute name="rend">
                    <text/>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="head">
        <element name="head">
            <oneOrMore>
                <ref name="listPerson"/>
            </oneOrMore>
        </element>
    </define>

    <define name="space">
        <element name="space">
            <optional>
                <attribute name="dim">
                    <text/>
                </attribute>
                <attribute name="quantity">
                    <data type="int"/>
                </attribute>
                <attribute name="unit">
                    <text/>
                </attribute>
            </optional>
            <zeroOrMore>
                <text/>
            </zeroOrMore>
            <zeroOrMore>
                <empty/>
            </zeroOrMore>
        </element>
    </define>

    <define name="hi">

        <element name="hi">
            <optional>
                <attribute name="rend">
                    <choice>
                        <value>supp</value>
                        <value>underline</value>
                        <!-- j'ai supprimé la valeur 'right', sinon elles étaient cumulable et ça ne marchait plus pour le choice ! -->
                        <value>overwrite</value>
                    </choice>
                </attribute>
            </optional>
            <zeroOrMore>
                <text/>
            </zeroOrMore>
        </element>
    </define>

    <define name="del">
        <element name="del">
            <optional>
                <attribute name="rend">
                    <choice>
                        <value>letter</value>
                        <value>note</value>
                        <value>indexNominum</value>
                    </choice>
                </attribute>
            </optional>
            <text/>
            <zeroOrMore>
                <empty/>
            </zeroOrMore>
        </element>
    </define>

    <define name="add">
        <element name="add">
            <optional>
                <attribute name="rend">
                    <choice>
                        <value>sup</value>
                        <value>inf</value>
                    </choice>
                </attribute>
            </optional>
            <text/>
        </element>
    </define>

    <define name="pb">
        <element name="pb">
            <zeroOrMore>
                <text/>
            </zeroOrMore>
            <zeroOrMore>
                <empty/>
            </zeroOrMore>
        </element>
    </define>

    <define name="choice">
        <element name="choice">
            <ref name="sic"/>
            <ref name="corr"/>
        </element>
    </define>

    <define name="figure">
        <!-- pour mettre les images -->

        <element name="figure">
            <oneOrMore>
                <ref name="desc"/>
            </oneOrMore>
            <oneOrMore>
                <ref name="graphic"/>
            </oneOrMore>
            <zeroOrMore>
                <ref name="figDesc"/>
            </oneOrMore>
        </element>
    </define>

    <define name="graphic">
        <element name="graphic">
            <optional>
                <attribute name="url">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <zeroOrMore>
                <empty/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="figDesc">
        <element name="figDesc">
            <text/>
            <zeroOrMore>
                <ref name="hi"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="salute">
        <element name="salute">
            <text/>
        </element>
    </define>

    <define name="signed">
        <element name="signed">
            <zeroOrMore>
                <ref name="persName"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="listPerson">
        <element name="listPerson">
            <zeroOrMore>
                <ref name="person"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="sic">
        <element name="sic">
            <text/>
        </element>
    </define>

    <define name="corr">
        <element name="corr">
            <text/>
        </element>
    </define>

    <define name="desc">
        <element name="desc">
            <text/>
        </element>
    </define>

    <define name="persName">
        <element name="persName">
            <optional>
                <attribute name="corresp">
                    <text/>
                </attribute>
            </optional>
            <text/>
            <zeroOrMore>
                <optional>
                    <ref name="hi"/>
                </optional>
                <optional>
                    <ref name="surname"/>
                </optional>
                <optional>
                    <ref name="firstname"/>
                </optional>
            </zeroOrMore>
        </element>
    </define>

    <define name="person">
        <element name="person">
            <oneOrMore>
                <ref name="persName"/>
            </oneOrMore>
            <zeroOrMore>
                <ref name="birth"/>
                <ref name="death"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="birth">
        <element name="birth">
            <text/>
            <zeroOrMore>
                <ref name="date"/>
                <ref name="placeName"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="death">
        <element name="death">
            <text/>
            <zeroOrMore>
                <ref name="date"/>
                <ref name="placeName"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="surname">
        <element name="surname">
            <text/>
        </element>
    </define>

    <define name="firstname">
        <element name="firstname">
            <text/>
        </element>
    </define>

    <define name="placeName">
        <element name="placeName">
            <text/>
        </element>
    </define>
    
    <define name="encodingDesc">
        <element name="encodingDesc">
            <text/>
            <oneOrMore>
                <ref name="refsDecl"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="refsDecl">
        <element name="refsDecl">
            <zeroOrMore>
                <ref name="cRefPattern"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="p"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="cRefPattern">
        <element name="cRefPattern">
            <zeroOrMore>
                <text/>
            </zeroOrMore>
            <optional>
                <attribute name="n"><text/></attribute>
            </optional>
            <optional>
                <attribute name="matchPattern"><text/></attribute>
            </optional>
            <optional>
                <attribute name="remplacementPattern"><text/></attribute>
            </optional>
        </element>
    </define>
</grammar>
